In [22]:
import pandas as pd
import numpy as np

In [23]:
#EDUC FUZZY
educ_partial_fuzzy  = pd.read_excel("fuzzy_partial_ratio_educ_boots.xlsx")
print(educ_partial_fuzzy.shape)
educ_partial_fuzzy.rename(columns= {"educ_title" : "match" }, inplace=True) #renombrar match
educ_partial_fuzzy.columns

(299, 34)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete', 'educacion'],
      dtype='object')

In [24]:
#EDUC TOKEN
educ_token_fuzzy  = pd.read_excel("fuzzy_token_set_ratio_educ_boots.xlsx")
educ_token_fuzzy.rename(columns= {"educ_title" : "match" }, inplace=True) #renombrar match
print(educ_token_fuzzy.shape)
educ_token_fuzzy.columns

(194, 34)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete', 'educacion'],
      dtype='object')

In [25]:
#IMPORTAR EDUCACIÓN 
educ  = pd.read_excel("2_educ_boots.xlsx")
educ.rename(columns= {"educ_title" : "match" }, inplace=True) #renombrar match
print(educ.shape)
#NO TIENE RATIO
educ.columns

(100, 33)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete', 'educacion'],
      dtype='object')

In [26]:
#CERT TOKEN, NO TIENE EDUC TITLE
cert_partial_fuzzy  = pd.read_excel("fuzzy_partial_ratio_cert_boots.xlsx")
print(cert_partial_fuzzy.shape)
cert_partial_fuzzy.columns
#NO tiene educación de la anterior (educ).

(88, 33)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete'],
      dtype='object')

In [27]:
#CERT TOKEN, NO TIENE EDUC TITLE
cert_token_fuzzy  = pd.read_excel("fuzzy_token_set_ratio_cert_boots.xlsx")
print(cert_token_fuzzy.shape)
cert_token_fuzzy.columns
#NO tiene educación de la anterior.

(51, 33)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete'],
      dtype='object')

In [28]:
cert_t  = pd.read_excel("2_cert_title_boots.xlsx")
print(cert_t.shape)
cert_t.columns 
#NO TIENE RATIO NI EDUCATION

(15, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [29]:
cert_aut  = pd.read_excel("2_cert_aut_boots.xlsx")
print(cert_aut.shape)
cert_aut.columns 
#NO TIENE RATIO NI EDUCATION

(65, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [30]:
#ABOUT PARTIAL
about_partial_fuzzy  = pd.read_excel("fuzzy_partial_ratio_about_boots.xlsx")
print(about_partial_fuzzy.shape)
about_partial_fuzzy.columns
#NO TIENE MATCH (de cert) y tampoco EDUC (de educ)

(73, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'ratio', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [31]:
#ABOUT TOKEN
about_token_fuzzy  = pd.read_excel("fuzzy_token_set_ratio_about_boots.xlsx")
print(about_token_fuzzy.shape)
about_token_fuzzy.columns
#MISMA CASO ANTERIOR

(28, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'ratio', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [32]:
about  = pd.read_excel("2_about_boots.xlsx")
# about["ratio"] = np.nan #CREAR COLUMNA DE RATIO CON NA
# about = about[list(about_fuzzy.columns)] #TENER EL MISMO ORDEN
print(about.shape)
about.columns 
#NO TIENE MATCH RATIO NI EDUC

(14, 31)

Index(['id', 'regex_bootcamp', 'bootcamp', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [33]:
#BASE COMPLETA
finaldb = pd.concat([ educ, cert_aut, cert_t, about, educ_partial_fuzzy, educ_token_fuzzy, cert_partial_fuzzy, cert_token_fuzzy, about_partial_fuzzy,about_token_fuzzy])
finaldb.shape

(927, 34)

In [34]:
#HAY 386 IDS UNICOS
finaldb.id.nunique()

450

In [35]:
#CONSERVAR UNICOS
finaldb.drop_duplicates(subset='id', keep="first")

,id,regex_bootcamp,bootcamp,match,scraping_services_id,linkedin_id,linkedin_profile_url,last_name,first_name,v_extension,...,languages,recommendations,publications,patents,industry,titles,company_name_complete,job_title_complete,educacion,ratio
0,34372997,hack.?academy,Hack Academy,hack academy,34372997,david-barrett-60a770a1,https://www.linkedin.com/in/david-barrett-60a7...,Barrett,David,"{'gender': 'male', 'industry_from_job': False,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[{'education': 'hack academy'}],NaN
1,47714089,ac.mica,Acámica,acamica,47714089,rodolfo-alexander-silva-pantoja-b1573934,https://www.linkedin.com/in/rodolfo-alexander-...,Pantoja,Rodolfo,"{'gender': 'male', 'industry_from_job': False,...",...,['Inglés'],NaN,NaN,NaN,Information Technology & Services,NaN,NaN,NaN,[{'education': 'universidad distrital francisc...,NaN
2,31363775,digital[ -]?house,Digital House,digital house,31363775,hernanparedes,https://www.linkedin.com/in/hernanparedes,Paredes,Hernan,"{'gender': 'male', 'industry_from_job': 'Infor...",...,"['Portugues', 'Inglés']",['Hernan foi capaz de mudar profundamente a fo...,NaN,NaN,NaN,NaN,NaN,NaN,"[{'education': 'universidad de buenos aires', ...",NaN
3,66954076,talento[ -]?digital$,BICTIA,"nomadia, escuela de talento digital",66954076,begonaantonplaza,https://www.linkedin.com/in/begonaantonplaza,Plaza,Begoña,"{'gender': False, 'industry_from_job': None, '...",...,['Inglés'],['Lo que más destacaría de Begoña es que una p...,NaN,NaN,NaN,NaN,NaN,NaN,"[{'education': 'nomadia, escuela de talento di...",NaN
4,77852405,ac.mica,Acámica,acamica,77852405,gustavodanielromerosantos,https://www.linkedin.com/in/gustavodanielromer...,Santos,Gustavo,"{'gender': 'male', 'industry_from_job': 'Manag...",...,"['Inglés', 'Portugués', 'Spanish']",['He conocido a Gustavo fuera del ambiente lab...,[{'authors': [{'full_name': 'Gustavo Daniel Ro...,NaN,NaN,NaN,NaN,NaN,[{'education': 'apep asociación civil programa...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,50606757,Nivel Pro,Nivel Pro,NaN,50606757,filipe-garrudo-74031a37,https://www.linkedin.com/in/filipe-garrudo-740...,Garrudo,Filipe,"{'gender': 'male', 'industry_from_job': 'Infor...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
16,32690217,Digital House,Digital House,NaN,32690217,pierreolivierguerin,https://www.linkedin.com/in/pierreolivierguerin,Guerin,Pierre-Olivier,"{'gender': 'male', 'industry_from_job': 'Infor...",...,"['French', 'English', 'German']","[""J'ai eu l'occasion de travailler avec Pierre...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0
17,70109823,Plataforma 5,Plataforma 5,NaN,70109823,jessyca-grassmann-8628a1101,https://www.linkedin.com/in/jessyca-grassmann-...,Grassmann,Jessyca,"{'gender': False, 'industry_from_job': False, ...",...,NaN,NaN,NaN,NaN,"Health, Wellness & Fitness",NaN,NaN,NaN,NaN,100.0
18,50376990,Plataforma 5,Plataforma 5,NaN,50376990,thiago-barbosa-ferreira-64311349,https://www.linkedin.com/in/thiago-barbosa-fer...,Ferreira,Thiago,"{'gender': 'male', 'industry_from_job': False,...",...,NaN,"['Com grande conhecimento e experiência, Thiag...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0
23,14161321,Nivel Pro,Nivel Pro,NaN,14161321,veronica-rivas-1a360470,https://www.linkedin.com/in/veronica-rivas-1a3...,Rivas,Veronica,"{'gender': 'female', 'industry_from_job': Fals...",...,NaN,NaN,NaN,NaN,Textiles,NaN,NaN,NaN,NaN,100.0