In [35]:
import pandas as pd
import numpy as np

In [49]:
#EDUC FUZZY
educ_partial_fuzzy  = pd.read_excel("fuzzy_partial_ratio_educ_boots.xlsx")
print(educ_partial_fuzzy.shape)
educ_partial_fuzzy.rename(columns= {"educ_title" : "match" }, inplace=True) #renombrar match
educ_partial_fuzzy.columns

(299, 34)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete', 'educacion'],
      dtype='object')

In [50]:
#EDUC TOKEN
educ_token_fuzzy  = pd.read_excel("fuzzy_token_set_ratio_educ_boots.xlsx")
educ_token_fuzzy.rename(columns= {"educ_title" : "match" }, inplace=True) #renombrar match
print(educ_token_fuzzy.shape)
educ_token_fuzzy.columns

(194, 34)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete', 'educacion'],
      dtype='object')

In [56]:
#IMPORTAR EDUCACIÓN 
educ  = pd.read_excel("2_educ_boots.xlsx")
educ.rename(columns= {"educ_title" : "match" }, inplace=True) #renombrar match
print(educ.shape)
#NO TIENE RATIO
educ.columns

(100, 33)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete', 'educacion'],
      dtype='object')

In [43]:
#CERT TOKEN, NO TIENE EDUC TITLE
cert_partial_fuzzy  = pd.read_excel("fuzzy_partial_ratio_cert_boots.xlsx")
print(cert_partial_fuzzy.shape)
cert_partial_fuzzy.columns
#NO tiene educación de la anterior (educ).

(88, 33)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete'],
      dtype='object')

In [52]:
#CERT TOKEN, NO TIENE EDUC TITLE
cert_token_fuzzy  = pd.read_excel("fuzzy_token_set_ratio_cert_boots.xlsx")
print(cert_token_fuzzy.shape)
cert_token_fuzzy.columns
#NO tiene educación de la anterior.

(51, 33)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'ratio',
       'scraping_services_id', 'linkedin_id', 'linkedin_profile_url',
       'last_name', 'first_name', 'v_extension', 'location', 'job_title',
       'company', 'job_history', 'snapshots', 'skills', 'education', 'about',
       'updated', 'middle_name', 'num_connections', 'interests', 'volunteered',
       'certifications', 'languages', 'recommendations', 'publications',
       'patents', 'industry', 'titles', 'company_name_complete',
       'job_title_complete'],
      dtype='object')

In [58]:
cert  = pd.read_excel("2_cert_boots.xlsx")
print(cert.shape)
cert.columns 
#NO TIENE RATIO NI EDUCATION

(15, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'match', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [53]:
#ABOUT PARTIAL
about_partial_fuzzy  = pd.read_excel("fuzzy_partial_ratio_about_boots.xlsx")
print(about_partial_fuzzy.shape)
about_partial_fuzzy.columns
#NO TIENE MATCH (de cert) y tampoco EDUC (de educ)

(73, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'ratio', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [54]:
#ABOUT TOKEN
about_token_fuzzy  = pd.read_excel("fuzzy_token_set_ratio_about_boots.xlsx")
print(about_token_fuzzy.shape)
about_token_fuzzy.columns
#MISMA CASO ANTERIOR

(28, 32)

Index(['id', 'regex_bootcamp', 'bootcamp', 'ratio', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [61]:
about  = pd.read_excel("2_about_boots.xlsx")
# about["ratio"] = np.nan #CREAR COLUMNA DE RATIO CON NA
# about = about[list(about_fuzzy.columns)] #TENER EL MISMO ORDEN
print(about.shape)
about.columns 
#NO TIENE MATCH RATIO NI EDUC

(14, 31)

Index(['id', 'regex_bootcamp', 'bootcamp', 'scraping_services_id',
       'linkedin_id', 'linkedin_profile_url', 'last_name', 'first_name',
       'v_extension', 'location', 'job_title', 'company', 'job_history',
       'snapshots', 'skills', 'education', 'about', 'updated', 'middle_name',
       'num_connections', 'interests', 'volunteered', 'certifications',
       'languages', 'recommendations', 'publications', 'patents', 'industry',
       'titles', 'company_name_complete', 'job_title_complete'],
      dtype='object')

In [69]:
#BASE COMPLETA
finaldb = pd.concat([educ_partial_fuzzy, educ_token_fuzzy, educ, cert_partial_fuzzy, cert_token_fuzzy, cert, cert_partial_fuzzy, cert_token_fuzzy])
finaldb.shape

(886, 34)

In [75]:
#HAY 386 IDS UNICOS
finaldb.id.nunique()

386

In [76]:
#CONSERVAR UNICOS
finaldb.drop_duplicates(subset='id', keep="first")

,id,regex_bootcamp,bootcamp,match,ratio,scraping_services_id,linkedin_id,linkedin_profile_url,last_name,first_name,...,certifications,languages,recommendations,publications,patents,industry,titles,company_name_complete,job_title_complete,educacion
0,45744143,Iron Hack,Iron Hack,ironhack,88.0,45744143,sebastianebner,https://www.linkedin.com/in/sebastianebner,Ebner,Sebastian,...,NaN,"['English', 'German', 'Spanish', 'French']",NaN,NaN,NaN,Financial Services,NaN,NaN,NaN,"[{'education': 'esade business & law school', ..."
1,18357933,Laboratoria,Laboratoria,"laboratorium school, den bosch",91.0,18357933,helma-foolen-40778917,https://www.linkedin.com/in/helma-foolen-40778917,Foolen,Helma,...,NaN,NaN,NaN,NaN,NaN,Biotechnology,NaN,NaN,NaN,"[{'education': 'hlo biochemie, etten-leur', 'd..."
2,67824354,Keep Coding,Keep Coding,keepcoding,90.0,67824354,ramón-albertí-danés-22837140,https://www.linkedin.com/in/ramón-albertí-dané...,Danés,Ramón,...,"[{'certificate_authority': 'Mejorando.la INC',...","['Inglés', 'Catalán']",['Ramón has an aptitude for logics and underst...,NaN,NaN,NaN,NaN,NaN,NaN,"[{'education': 'keepcoding', 'degrees': 'keepc..."
3,70564008,Digital House,Digital House,digital house coding school,100.0,70564008,maximilianoderito,https://www.linkedin.com/in/maximilianoderito,Rito,Maximiliano,...,[{'certificate_authority': 'The International ...,"['Español', 'Inglés']",NaN,[{'authors': [{'full_name': 'Maximiliano De Ri...,NaN,NaN,NaN,NaN,NaN,[{'education': 'pontificia universidad católic...
4,51538550,Keep Coding,Keep Coding,keepcoding,90.0,51538550,jlgarciaap,https://www.linkedin.com/in/jlgarciaap,Aparicio,Juan,...,"[{'certificate_authority': 'PECB', 'end': 'Mar...",['English'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'education': 'keepcoding', 'degrees': 'keepc..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,79384425,make[ -]?it[ -]?real[ -]?camp| make[ -]?it[ -]...,Make it Real Camp,race to make it real,NaN,79384425,jasmeet-gurudatta-30395821,https://www.linkedin.com/in/jasmeet-gurudatta-...,Gurudatta,Jasmeet,...,[{'certificate_authority': 'ketchum sampark pv...,"['English', 'Hindi']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,61077703,hack.?academy,Hack Academy,biohack academy,NaN,61077703,eline-van-der-ploeg-903010a5,https://www.linkedin.com/in/eline-van-der-ploe...,Ploeg,Eline,...,[{'certificate_authority': 'royal academy of a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,47600724,hack.?academy,Hack Academy,biohack academy,NaN,47600724,jordivallsfoix,https://www.linkedin.com/in/jordivallsfoix,Valls,Jordi,...,"[{'certificate_authority': 'udemy', 'title': '...","['Catalan', 'Spanish', 'English']",NaN,NaN,NaN,Pharmaceuticals,NaN,NaN,NaN,NaN
13,4823586,make[ -]?it[ -]?real[ -]?camp| make[ -]?it[ -]...,Make it Real Camp,microsoft “architecture and design for microso...,NaN,4823586,bill-bartolotto-764b6715,https://www.linkedin.com/in/bill-bartolotto-76...,Bartolotto,Bill,...,"[{'certificate_authority': 'microsoft', 'title...",NaN,NaN,NaN,NaN,Computer Software,NaN,NaN,NaN,NaN
14,77439236,icreate[ -]?limited|icreate|icreate[ -]?coding...,iCreate Coding Academy,"icreate, iinnovate, ieducate with ipads in the...",NaN,77439236,iliana-grande-4460a565,https://www.linkedin.com/in/iliana-grande-4460...,Grande,Iliana,...,[{'certificate_authority': 'ontario college of...,"['English', 'Spanish', 'French', 'Italian']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN